<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <form name="checkLogin" action="login" method="POST">
      <input name="name" placeholder="name"/>
      <input name="email" placeholder="email"/>
      <input type="submit" value="login">
    </form>
  </body>
</html>
